.appbar {
  display: flex;
  gap: 1rem;
  background: linear-gradient(to right, #07a6ff 50%, #5f38fb 85%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  height: 75px;
}

.appbar-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.left-content {
  display: flex;
  align-items: center;
}

.logos {
  display: flex;
  align-items: center;
}
